.Context {
  background-color: var(--colors-bg--500);
  padding: 0.5vmin;
  border-radius: 3px;
}

.Item {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 5rem 0.5rem 0.75rem;
  margin-left: 10px;
  position: relative;
  transition: all .2s;
}

.Item:before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
  width: 5px;
  bottom: 0;
  background-color: var(--colors-secondary--500);
  opacity: 0;
  transition: all .2s;
}

.Item:hover:before {
  opacity: 1;
}

.Item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--colors-secondary--500);
}
