.Container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  background-color: var(--colors-bg--500);
  background-image: radial-gradient(
    ellipse at 33% 10%,
    #162e46 0%,
    transparent 75%
  );
  background-repeat: no-repeat;
  color: var(--colors-on_bg--500);
}

.ContainerInner {
  position: absolute;
  left: 1vh;
  right: 1vh;
  top: 1vh;
  bottom: 1vh;
  display: flex;
  flex-direction: column;
}

.GameModeActions {
  padding: 1vmin 0;
  margin-bottom: 1vmin;
  font-size: calc(12px + 0.5vmin);
  display: flex;
  flex-wrap: wrap;
}

.Button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0.25vh;
  cursor: pointer;
  user-select: none;

  background-color: transparent;
  border: 1px solid var(--colors-primary--500);
  border-radius: 2px;
  color: var(--colors-primary--500);
  font-family: var(--fonts-primary);
  letter-spacing: 0.045em;
  padding: 1vmin;
  min-height: 40px;
  text-align: left;
  text-transform: uppercase;
  clip-path: var(--ui-notch-path);
  box-sizing: border-box;
}

.Button:before {
  background-color: currentcolor;
  bottom: 6px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(
    -45deg
  );
  width: var(--ui-notch-hypotenuse);
  z-index: 100;
}

.Button:hover {
  background-color: var(--colors-primary--800);
  color: var(--colors-on_primary--500);
}

.ButtonHighlight {
  color: rgba(255, 255, 255, 0.3);
}

.StatusField {
  display: inline-block;
  color: #666;
  width: 100%;
  margin-top: 1vh;

  background-color: var(--colors-bg--300);
  border: 1px solid #22405d;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.75rem;

  min-height: 1em;
}

.Content {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  overflow: hidden;
}

.PlayersOnline {
  display: flex;
  flex-direction: column;
  width: 34%;
}

.PlayersGroup {
  width: 32%;
  margin-left: 1%;
  display: none;

  flex-direction: column;
}

.FloatingUserInfoContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
}

.FloatingUserInfo {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
