html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  font-family: Verdana, sans-serif, Geneva;
  min-height: 100vh;
  overflow-x: hidden;
}

.Content {
  padding: 64px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.PromotionalPackage {
  padding: 32px;
  min-height: 512px;
  flex: 1;
}

.Slogan {
  font-size: calc(16px + 3vmin);
}

.AreYouReady {
  color: #0059AA;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  margin: 48px 0;
}

.PlayNow {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  background-color: #3f6ad8;
  color: #fff;
  padding: 20px 32px;
  border-radius: 20px;
  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.PlayNow:hover {
  background-color: #2955c8;
}
