html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colors-bg--300: #191c1f;
  --colors-bg--500: #1a1c1f;
  --colors-primary--200: #8abff4;
  --colors-primary--300: #67a8e9;
  --colors-primary--500: #59a1e8;
  --colors-primary--600: #30669c;
  --colors-primary--700: #21405e;
  --colors-primary--800: #172e45;
  --colors-primary--900: #17293a;
  --colors-secondary--500: #2be4ea;
  --colors-secondary--900: #295459;
  --colors-tertiary--500: #fed33f;
  --colors-on_bg--500: var(--colors-primary--500);
  --colors-on_tertiary--500: var(--colors-bg--300);
  --colors-on_primary--500: var(--colors-primary--200);
  --colors-active--500: #2bfea0;
  --fonts-primary: "Rajdhani", sans-serif;
  --fonts-secondary: "VT323", monospace;
  --ui-glow: 0 0 5px var(--colors-primary--500);
  --ui-glow-borders--500: 0 0 3px var(--colors-primary--500);
  --ui-glow-color: currentcolor;
  --ui-glow-text: -9px -6px 40px var(--ui-glow-color);
  --ui-glow-text--dimmed: -9px -6px 40px var(--ui-glow-color);
  --ui-elevation--1: 2px 2px 0 rgba(0, 0, 0, 0.8);
  --ui-notch-amount: 1rem;
  --ui-notch-hypotenuse: 22.627416px; /* hypothenuse of --ui-notch-amount */
  --ui-notch-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--ui-notch-amount) + 2px),
    calc(100% - var(--ui-notch-amount) + 2px) 100%,
    0 100%
  );


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.PromotionalPackage {
  padding: 32px;
  min-height: 512px;
  flex: 1;
}

.Slogan {
  font-size: calc(16px + 3vmin);
}

.AreYouReady {
  color: #0059AA;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  margin: 48px 0;
}

.PlayNow {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-size: calc(10px + 1vmin);
  background-color: #3f6ad8;
  color: #fff;
  padding: 20px 32px;
  border-radius: 20px;
  box-shadow: 0 16px 26px -10px rgba(63, 106, 216, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 106, 216, 0.2);
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.PlayNow:hover {
  background-color: #2955c8;
}
